


/*header*/

header { height: auto; }
/*Main*/

main { margin-right: 4%;
margin-left: 4%;
box-sizing: border-box;
display: inline-flex; 
padding-right: 3%;
padding-left: 3%;}

iframe { float: right;
		clear: both; 
		}

.slider {
  width: 300px;
  height: 300px;
  display: flex;
  overflow-x: auto;
float: left;
clear: both;  
}
.slide {
  width: 300px;
  flex-shrink: 1;
  height: 100%;
}

img	{width: 300px;}
