

/*BODY*/
	

/*MAIN*/


 /*Formulario de registro*/

.regform h2, p {width: 100%;}

.regform label	{float: left;
clear: both;}

.regform input:not(.boton), select {float:right;
clear: both;}

.regform label, .regform input:not(.boton), select{ width: 25%;
 }
.flexbot { display: flex;
			justify-content: center;
			align-content: center;
			flex-flow:row wrap;
			width: 100%;
			}

.confrom {height: 200px;}

.boton { border-style: outset;
		border-radius: 9px;
		-moz-border-radius: 9px;
		-webkit-border-radius: 9px;
	}

.boton:hover { border-style: inset;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;}


/*formulario de ingreso*/

main#formconnect { height: 190px; }


/*Formulario de Contacto*/

div.forcontact:not(#enviar) {display: flex;
				justify-content: space-around;}
/*RESPONSIVE*/

